<div class="home-container">
    <header class="header">
      <h1>Bienvenue sur le Projet Morpion</h1>
      <p>Un jeu de morpion classique pour un duel contre votre ami !</p>
    </header>
  
    <main>
      <div>
        <button mat-raised-button color="primary" routerLink="game">Jouer maintenant</button>
      </div>
    </main>
  
    <footer>
      <p>
        Projet développé par <strong>la Dream Team</strong>. Code sourcedisponible sur
        <a href="https://github.com/Zboulabagualabamboula/Projet_Morpion" target="_blank">
          GitHub
        </a>.
      </p>
    </footer>
</div> 
