<h1 class="text-3xl font-bold mb-4"> Current player: <span [ngClass]="{ 'text-red-600': player === 'X', 'text-blue-600': player === 'O' }">{{ player }}</span> </h1>

@if(winner) {
    <h2 class="text-3xl font-bold">
        Winner: <span [ngClass]="{ 'text-red-600': winner === 'X', 'text-blue-600': winner === 'O' }">{{ winner }}</span>
    </h2>
}

<main>
    @for(val of squares; track val; let index = $index){
        <app-square
            [value]="val"
            [key]="index"
            (click)="makeMove(index)">
        >
        </app-square>
    }
</main>

<button (click)="newGame()" class="bg-black text-white p-4 rounded-md m-4 hover:"> New Game </button>
